.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .card {

    display: block;
    margin-left: auto;
    margin-right: auto;
  }