<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Recently uploaded files
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>File Name</th>
                  <th>Uploaded By</th>
                  <th>Uploaded Time</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let file of fileDetails">
                  <td>{{file.name}}</td>
                  <td>{{file.uploadedBy}}</td>
                  <td>{{file.createdAt}}</td>
                  <td>
                      <!-- <button type="button" class="btn btn-primary px-4" (click)="download(file.name)">Download</button> -->
                      <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
                          <button type="button" class="btn btn-sm btn-primary" (click)="download(file.name)">Download</button>
                          <button type="button" class="btn btn-sm btn-primary" (click)="delete(file.name)">Delete</button>
                          <button class="btn btn-primary" type="button" disabled>
                              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                              Loading...
                          </button>
                      </div>
                  </td>
                </tr>            
              </tbody>
            </table>
            <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-xs-12 col-12">
                      <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
                                  previousText="Previous" nextText="Next" firstText="First" lastText="Last"
                                  [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)"></pagination>
                    </div>
                  </div>
                  <pre class="card card-body card-header">Page: {{bigCurrentPage}} / {{numPages}}</pre>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>