<div class="row" >
    <div class="col-md-6" class="custom">
      <div class="card">
        <div class="card-header">
          <strong>Reset password</strong>
        </div>
          <div *ngIf = "showMessage" class="alert alert-success" role="alert">
            {{message}}<a routerLink="/login"> Click here to login</a>
          </div>
          <div  *ngIf = "showErrMessage" class="alert alert-danger" role="alert">
            {{errorMessage}}
          </div>
        <div class="card-body">
          <form class="form-horizontal">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                <input type="password" class="form-control" placeholder="New Password" name="password" [(ngModel)]="password" autocomplete="password" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="confirmPassword" autocomplete="confirmPassword" required>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="changePassword()"><i class="fa fa-dot-circle-o" ></i> Reset password</button>
        </div>
      </div> 
    </div>
    </div>
      