<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="registerForm" (ngSubmit)="createUser()">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control"  formControlName="name" placeholder="Name" autocomplete="username" required>
                </div>
                <div class="alert alert-danger" role="alert"
                *ngIf="!registerForm.get('name').valid && registerForm.get('name').touched">
                Please enter the name
                </div>
                <!-- <span *ngIf="!registerForm.get('name').valid && registerForm.get('name').touched"
                class="help-block">Please enter the name</span> -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" formControlName="email"  placeholder="Email" autocomplete="email" required (change)="verifyEmail($event.target.value)">
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">
                  Please enter the valid email id
                </div>
                <div class="alert alert-danger" role="alert" *ngIf=" registerForm.get('email').valid && invalidEmail">
                  Please enter valid email
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control"  formControlName="mob" placeholder="Mobile No" autocomplete="mobno" required>
                </div>
                <div class="alert alert-danger" role="alert"
                *ngIf="!registerForm.get('name').valid && registerForm.get('name').touched">
                Please enter the mobile No.
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="date" class="form-control" formControlName="dob"  placeholder="dob" autocomplete="dob" required>
                </div>
                
                <!-- <div class="alert alert-danger" role="alert">
                  This is a danger alert—check it out!
                </div> -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" formControlName="password"  placeholder="Password" autocomplete="new-password" required>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">
                  Please enter the password
                </div>
                <!-- <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched"
                class="help-block">Please enter the password</span> -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" formControlName="confirmPassword"  placeholder="confirmPassword" autocomplete="new-password" required>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="!registerForm.get('confirmPassword').valid && registerForm.get('confirmPassword').touched">
                  Please enter the confirmPassword
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="number" class="form-control" placeholder="age" formControlName= "age" autocomplete="age" required>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="!registerForm.get('age').valid && registerForm.get('age').touched">
                  Please enter the age
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <select id="select1" name="select1" class="form-control" formControlName="dept">
                    <option value="0">Please select department</option>
                    <option value="1">MCA</option>
                    <option value="2">BCA</option>
                    <option value="3">ENG</option>
                  </select>
                  <!-- <input type="text" class="form-control"  formControlName="dept" placeholder="Department" autocomplete="department" required> -->
                </div>
                <div class="alert alert-danger" role="alert"
                *ngIf="!registerForm.get('dept').valid && registerForm.get('dept').touched">
                    Please select department
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <textarea type="textarea" class="form-control" rows="4" formControlName="address" placeholder="Address" autocomplete="address" required></textarea>
                </div>
                <div class="alert alert-danger" role="alert"
                *ngIf="!registerForm.get('address').valid && registerForm.get('address').touched">
                   Please enter the address
                </div>
                <button type="submit" class="btn btn-block btn-success" [disabled]="!registerForm.valid" >Create Account</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
