<div class="row" >
    <div class="col-md-6" class="custom">
      <div class="card">
        <div class="card-header">
          <strong>Forgot password</strong>
        </div>
          <div *ngIf = "showMessage" class="alert alert-success" role="alert">
            {{message}}
          </div>
          <div  *ngIf = "showErrMessage" class="alert alert-danger" role="alert">
            {{errorMessage}}
          </div>
        <div class="card-body">
          <form class="form-horizontal">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="email" autocomplete="email" required>
              </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="resetPassword()"><i class="fa fa-dot-circle-o" ></i> Reset password</button>
        </div>
      </div> 
    </div>
    </div>
      